---

---

<section class="hero">
    <h1 class="title">Projects</h1>
    <p class="subtitle">Contents below will contains projects that I have built before. There are some projects that currently in progress.</p>
</section>

<style>
    section {
        padding: 40px 20px;
        background-color: var(--accent-color-2);
    }
</style>