---
import { projects_data } from "../../variables/projects";
import strftime from "strftime";
import ShowcaseItem from "./project/showcase_item.astro";

---


<p class="info">info: you can click one of these to learn more about the project!</p>
<section class="showcase">
    {projects_data.map((project_data) => {
        return <ShowcaseItem project_data={project_data} />
    })}
</section>

<style>
    section {
        margin-bottom: 20px;

        padding: 20px;
        box-sizing: border-box;

        display: grid;
        align-items: center;
        gap: 20px;
        
        background-color: transparent;
    }

    section * {
        color: var(--text-color);
        text-align: center;
    }

    @media (min-width: 1000px) {
        section {
            grid-template-columns: 1fr 1fr;
        }
    }

    p.info {
        color: var(--text-color);
        
        margin-top: 40px;
        text-align: center;
        
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        
        font-size: small;
        font-weight: 300;
    }
</style>