---

---

<section class="about_me" id="about_me">
    <h1 class="title">About Me</h1>
    <p class="subtitle">
        A little bit of my story from start until I can really program something
    </p>
    <div class="contents">
        <p class="content">
            <b>Hi again! I'm Ridwan, I'm from Indonesia</b>. I like to explore
            about technology because it's so fun! We can't deny that we need
            Technology especially in these modern days. It helps humans
            advancing so fast! So that we should learn about technology in order
            to solve many of world problems!
        </p>
        <p class="content">
            One of the example of it is <b>learning how to make a program</b>.
            It helps us improves our computational thinking, which is so
            important for us in order to find solutions to a particular problem
        </p>
        <p class="content">
            <b>I love programming so much!</b> It's been a long time since the first
            time I exposed to codes.. At that time, I think I've got something special
            that I care so much.. and now, I put so much effort to programming. I
            keep doing programming everyday because it is my Hobby! Yes, There are
            other skills that i have other than that.. But, programming? Is one the
            best and I love among all!
        </p>
    </div>
</section>
<hr class="seperator" />

<style>
    section {
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 100px 20px 100px;
        box-sizing: border-box;
    }

    @media (min-width: 1000px) {
        section {
            padding: 40px 200px 20px 200px;
            box-sizing: border-box;
        }
    }

    p.subtitle {
        margin-bottom: 20px;
        text-align: center;
        font-size: 14px;
    }

    p.content {
        margin: 20px 0;
    }
</style>
