---

---

<p class="dream-intro">I want to be a</p>
<div class="dream"><span class="dream-name"></span></div>
<p class="passion-intro">I love to do these things</p>
<div class="passions">
    <div class="items">
        <p class="item" data-index="3">Practice Hacking</p>
        <p class="item" data-index="3">Learn Linux</p>
        <p class="item active" data-index="0">Practice LeetCodes</p>
        <p class="item active" data-index="0">Create Mobile Apps</p>
        <p class="item" data-index="1">Make Websites</p>
        <p class="item" data-index="1">Create Servers</p>
        <p class="item" data-index="2">Practice Mathematics</p>
        <p class="item" data-index="2">Learn Machine Learning</p>
    </div>
    <div class="items">
        <p class="item" data-index="3">Practice Hacking</p>
        <p class="item" data-index="3">Learn Linux</p>
        <p class="item" data-index="0">Practice LeetCodes</p>
        <p class="item" data-index="0">Create Mobile Apps</p>
        <p class="item" data-index="1">Make Websites</p>
        <p class="item" data-index="1">Create Servers</p>
        <p class="item" data-index="2">Practice Mathematics</p>
        <p class="item" data-index="2">Learn Machine Learning</p>
    </div>
</div>
<hr class="seperator" />

<script is:inline>
    const dreams = [
        "Software Engineer",
        "FullStack Engineer",
        "Data Scientist",
        "Cyber Security Analyst",
    ];
    const dream = document.getElementsByClassName("dream-name")[0];
    const items = document.getElementsByClassName("item");

    let index = 0;
    dream.innerHTML = dreams[index];
    setInterval(() => {
        dream.classList.add("close");
        setTimeout(() => {
            index += 1;
            if (index >= dreams.length) {
                index = 0;
            }

            dream.innerHTML = dreams[index];
            Array.from(items).forEach((element) => {
                if (element.dataset.index == index) {
                    element.classList.add("active");
                } else {
                    element.classList.remove("active");
                }
            });

            dream.classList.remove("close");
        }, 500);
    }, 8000);
</script>

<style>
    p.dream-intro,
    p.passion-intro {
        margin-top: 20px;
        text-align: center;
    }

    div.dream {
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    span.dream-name {
        display: block;
        font-size: 32px;
        font-weight: 800;
        position: relative;
        bottom: 0;
        left: 0;
        transition: 1s;
    }

    span.dream-name.close {
        bottom: 100px;
    }

    div.passions {
        display: flex;
        overflow: hidden;
        gap: 40px;
    }

    div.passions > .items {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 40px;

        transform: translateX(0);

        animation-name: passion;
        animation-duration: 32s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    div.passions > .items > p {
        font-size: 24px;
        font-weight: 800;
        transition: 0.25s;
    }

    div.passions > .items > p.active {
        color: var(--accent-color);
    }

    @keyframes passion {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-100% - 40px));
        }
    }
</style>
