---

---

<section class="hero">
    <h1 class="title">Hi! I'm, <span>Ridwan Bagoes Setiawan</span></h1>
    <p class="subtitle">
        If it's too long, Dont worry! you can call me <span>Iwan</span>!
    </p>
</section>

<hr class="seperator" />
<style>
    section {
        padding: 60px 100px;
        box-sizing: border-box;
        background-color: var(--accent-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        filter: brightness(var(--container-brightness));
    }

    @media (max-width: 500px) {
        section {
            padding: 60px 50px;
        }
    }

    section * {
        color: var(--text-color-alt);
        width: 100%;
    }

    h1 {
        font-size: 28px;
    }

    h1 > span {
        display: block;
        font-size: 48px;
        line-height: 1.1;
    }

    p {
        font-weight: 400;
    }

    p.subtitle span {
        font-weight: 600;
    }
</style>
