---
import { projects_data } from "../../../variables/projects";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
    
//     return [
//     { params: { id: '1' } },
//     { params: { id: '2' } },
//     { params: { id: '3' } }
//   ];
    return projects_data.map(project_data => {
        return { params: { id: project_data.project_id } }
    })
}) satisfies GetStaticPaths;

const { id } = Astro.params;


import Header from "../../../components/homepage/header.astro";
import Station from "../../../components/station.astro";
import CallToAction from "../../../components/call_to_action.astro";
import Footer from "../../../components/footer.astro";
import BriefProject from "../../../components/projects/project/brief_project.astro";
import DetailsProject from "../../../components/projects/project/details_project.astro";
import "../../../styles/global.css";

const project_name = projects_data[id].title;

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ridwan's Project - {project_name}</title>
</head>
<body>
    <Header />
    <BriefProject id={id} />
    <DetailsProject id={id} />
    <Station />
    <CallToAction />
    <Footer />
</body>
</html>