---

import { achievements } from "../../variables/achievements"
import strftime from "strftime";

---
<section class="achievements">
    <h1 class="title">Achievements</h1>

    <div class="achievement-list">
        <hr />
        {achievements.map(achievement => {
            return <>
            <div class="achievement">
                <h3 class="achievement-title">{achievement.title}</h3>
                <p class="achievement-description">{achievement.description}</p>
                <p class="date-get">Date Obtained: {strftime("%d %B %Y", achievement.date_get)}</p>
            </div>
            <hr />
            </>
        })}
    </div>    
</section>

<style>
    section.achievements {
        padding: 40px 20px;        
    }
    
    div.achievement-list {
        margin-top: 10px;
        
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .achievement-title {
        font-size: large;
    }
</style>