---

---
<section class="hero">
    <h1 class="title">Achievements</h1>
    <p class="subtitle">These are some of achievements that I've got till now</p>
</section>

<style>
    section {
        padding: 40px 20px;
        background-color: var(--accent-color-2);
    }

    section * {
        color: #eee;
    }
</style>