---

---

<section class="cto">
    <h1>Want to talk?</h1>
    <p>
        If there's something you want to talk to me, You want to collaborate,
        You need some assistants, You want to offer something, or You just want
        to chat with me, don't hesitate to click button below and email me!
    </p>
    <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=iwansal64@gmail.com&su=Hey, There's Something I want to talk about!"
        >Email Me &rarr;</a
    >
    <p class="alternatives">
        Or you can go down and click one of the social media links below :)
    </p>
</section>
<hr class="seperator" />

<style>
    section {
        padding: 20px;
        box-sizing: border-box;
        font-size: 16px;
    }

    a {
        width: max-content;
    }

    p.alternatives {
        margin-top: 20px;
        font-size: 14px;
    }
</style>
