---
import Logo from "./logo.astro";
---

<footer>
    <div class="logo">
        <Logo />
    </div>
    <div class="links">
        <a href="https://www.instagram.com/iwan_wkwkw/">Instagram</a>
        <a href="https://discordapp.com/users/773167740713566219">Discord</a>
        <a href="https://www.github.com/iwansal64">GitHub</a>
    </div>
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        justify-content: space-between;
        background-color: var(--footer-background-color);
    }

    @media (min-width: 500px) {
        footer {
            padding: 20px;
            gap: 40px;
        }
    }

    div.links {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    div.links a {
        color: var(--text-color-alt);
    }

    div.links a::after {
        background-color: var(--text-color-alt);
    }
</style>
