---

const current_url = "/"+String(Astro.url).split("/").at(-1);
const stations: {
    link: string,
    class: string,
    title: string,
    info: string
}[] = [
    {
        link: "/projects",
        class: "projects",
        title: "Project",
        info: "Look at some of the projects that i have built.."
    },
    {
        link: "/branches",
        class: "branches",
        title: "Branches",
        info: "I have so many things that i want to learn."
    },
    {
        link: "/socials",
        class: "socials",
        title: "Socials",
        info: "See people that i know they so good at their field!"
    },
    {
        link: "/achievements",
        class: "achievements",
        title: "Achievements",
        info: "Do you want to know my achievements? Let's find out!"
    },
]

---

<section class="station" id="station">
    <h1 class="title">Stations</h1>
    <p class="subtitle">
        <b>Know Me Better!</b> Sorry for the inconvinient but if you are interested
        to something specific about me and want to learn more you can navigate to
        each of this :)
    </p>
    <div class="stations">
        {stations.map(station_data => {
            if(current_url !== station_data.link) {
                return (<a href={station_data.link} class={station_data.class}>
                    <h1>{station_data.title}</h1>
                    <p class="info">
                        {station_data.info}
                    </p>
                </a>);
            } 
            else {
                return (<a href="/" class="home">
                    <h1>Home</h1>
                    <p class="info">
                        Want to go back and see what was in the homepage?
                    </p>
                </a>);
            }
        })}
    </div>
</section>
<hr class="seperator" />

<style>
    section {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 40px;
        box-sizing: border-box;
        background-color: var(--accent-color-2);
    }

    @media (min-width: 700px) {
        section {
            padding: 80px 120px;
        }
    }

    section * {
        color: var(--text-color-accent);
    }

    h1.title {
        font-size: 24px;
    }

    p.subtitle {
        margin-bottom: 20px;
        text-align: center;
        font-size: 14px;
    }

    div.stations {
        width: 100%;
        height: 100%;

        padding: 20px;
        box-sizing: border-box;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: max-content;
        gap: 10px;

        place-items: center;
    }

    @media (min-width: 800px) {
        div.stations {
            grid-template-columns: 1fr 1fr;
        }
    }

    div.stations a {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
        padding: 10px;
        box-sizing: border-box;

        border-radius: 25px;
        background-color: var(--accent-color);
        filter: brightness(var(--container-brightnesss));
    }

    @media (min-width: 600px) {
        div.stations a {
            padding: 20px;
        }
    }

    div.stations a::after {
        content: none;
    }

    div.stations a:hover {
        filter: brightness(50%);
    }

    div.stations a * {
        color: var(--text-color-accent);
    }

    div.stations a h1 {
        font-size: 16px;
    }

    div.stations a p {
        font-size: 12px;
        font-weight: 300;
    }

    @media (min-width: 600px) {
        div.stations a h1 {
            font-size: 20px;
        }

        div.stations a p {
            font-size: 14px;
        }
    }
</style>
