---
import "../../../styles/sub_branch.css";

---

<section class="hero">
    <h1 class="title">PROGRAMMING</h1>
    <h3 class="subtitle">The first thing that I want will be in people's mind when they see me!</h3>
</section>
<section class="details">
    <h1>Story</h1>
    <div class="stories">
        <p class="story">I like programming. </p>
        <p class="story">Programming is not just about doing cool stuffs but, it also about hard work.</p>
        <p class="story">Programming is not just about hacking but, it also about discipline.</p>
        <p class="story">Programming is not just about creating a bunch of codes but, it also about creating a solution to solve a problem.</p>
        <br>
        <p class="story">It happened 4 years ago, when i exposed to a youtube video about someone creating his own game. At that time, I've got interested. I watch some of his videos later on until at 29th Ferbuary 2020, at night, I borrowed my sister's laptop to learn how to make my first own game, and that day was my first day of my journey to becoming a professional programmer (I hope the profession still exist in the future :)).</p>
        <br>
        <p class="story">Long story short, I've learned a lot from youtube about how to create a simple game. I learn how to create a basic platform, a player object and even create a basic program to control that player object. My first programming language that i learned that time was C#. It's going well because i just copy and paste all of the code, until i realized there's an error that I can't find it anywhere in the youtube video tutorial. I've got panicked and then got a little bit frustrated. I check and re-check the code and still can't find the answer. Until I gave up and leaving the game uncompleted. But I gave up that day because of a reason, I want to learn another programming language, and it's Java!</p>
        <br>
        <p class="story">Java is actually my first programming language that I learned for serious (not just copy and paste :v). I learned a lot! a bunch of programming keywords that I know are coming from that programming language! and also shout out to <a href="https://www.youtube.com/@KelasTerbuka">Kelas Terbuka</a> to tought me how to program! He teach me a lot about programming and I also learned Python programming language from him too! Btw back to topic. I learned so much from this programming language, I also learned how to find solution if I encounter a problem. That time was the turns happen.</p>
        <br>
        <p class="story">And after that enlightment from learning Java, I can learn other programming language easily. Just search it on google or youtube and then i can learn the basics of programming language in relatively short time. For example is after i learned Java i come to Python, learn it for 1 month, and then I able to create a basic turtle racer game right here: <a href="https://github.com/iwansal64/Turtle-bukan-kura-kura">https://github.com/iwansal64/Turtle-bukan-kura-kura</a>. And that's the story for my Programming branch. It's one of the thing that makes me go to this position. It's a big thing that change my life and future.</p>
    </div>
</section>

<style>
    p > a {
        display: inline !important;
    }

    p > a::after {
        left: 50%;
        transform: translateX(-50%);
    }
</style>