---

---
<section class="hero">
    <h1 class="title">Socials</h1>
    <p class="subtitle">Shout out to all of people below because they supporting me and always inspired me to be better everyday.</p>
</section>

<style>
    section {
        padding: 40px 20px;
        background-color: var(--accent-color-2);
    }

    section * {
        color: #eee;
    }
</style>