---


---

<section class="hero">
    <h1 class="title">Ridwan's <span>BRANCHES</span></h1>
    <p class="subtitle">There're some things that i like to do so much! Here's all of them!</p>
</section>

<style>
    section {
        padding: 40px 20px;
        background-color: var(--accent-color-2);
    }
</style>